<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{!-- Including partials in our html files that is used again and again like navbar. --}}
    {{>navbar}} 

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="tempForm">
                        {{!-- autocomplete off will remove the searched city name in the serachbox after submitting for the search --}}
                        <input type="text" id="cityName" placeholder="Enter Any Place" autocomplete="off">
                        <input type="submit" id="submitButton" value="Search">
                    </form>
                </div>

                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Monday</p>
                        {{!-- <p id="todayDate">29-04-2023</p> --}}
                    </div>

                    <div class="main_layer">
                        <p id="city_name">Search Any City Above</p>
                        <div class="middle_layer data_hide">
                            {{!-- below sup is the degree of the temperature and sup means superscript --}}
                            <p id="temp"><span id="temp_value">0</span> <sup>o</sup>C</p>
                            <p id="temp_status">Hello</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Partial-->
    {{>footer}} 

    <script src="/js/main.js"></script>
</body>
</html>